body {
    background-color: #8f8f8f;
background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
header {
    background-color: #d6d6d6;
background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}